{# core/themes/stable/templates/content/page-title.html.twig #}

{{ title_prefix }}
{% if title %}
    <h1 class="mdl-layout-title">{{ title }}</h1>
{% endif %}
{{ title_suffix }}

<div class="mdl-layout-spacer"></div>
